/*
    # screen resulation : 279px to 319px;
    # devices: most of the smart phone in galaxy fold.
 */
 
 @media (min-width: 279px) and (max-width: 319px){
           /* css start  */

.header .navbar-toggler{
        background: #08c;
        border-radius: 0px;
    }
    .header .navbar-toggler .fa-bars{
        color: #fff;
    }
    .header .navbar-expand-lg .navbar-nav .nav-link{
        margin: 0px;
        font-size: 12px;
    }
    .header .navbar-expand-lg .navbar-nav .nav-link:hover, .header .navbar-expand-lg .navbar-nav .nav-link:focus{
        background: url(../images/line.png) left bottom no-repeat;
        
    }
    .header .navbar-nav .nav-link.active{
        background: url(../images/line.png) left bottom no-repeat;
    }
    .banner{
        padding: 20px 0px;
    }
    .banner h4{
        font-size: 12px;
    }
    .banner h1 {
        font-size: 24px;
    }
    .banner p{
        font-size: 9px;
    }
    .banner .action-buttons{
        padding: 20px 0px 0px;
    }
    .banner .action-buttons .btn-primary{
        padding: 10px 13px;
        font-size: 9px;
        margin: 0px 10px 0px 0px;
    }
    .banner .action-buttons .btn-info{
        padding: 10px 13px;
        font-size: 9px;
    }
    .feature{
        padding: 20px 0px;
    }
    .feature .title{
        padding: 0px 0px 20px 0px;
    }
    .title h4{
        font-size: 12px;
    }
    .title h1{
        font-size: 24px;
    }
    .inner-feature{
        padding: 10px 20px;
    }
    .inner-feature .icon-box{
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .inner-feature h4 {
        font-size: 14px;
    }
    .inner-feature p{
        font-size: 10px;
    }
    .about-long{
        padding: 20px 0px;
    }
    .about-long .img-fluid{
        max-width: 45%;
        height: auto;
        margin: 0px 0px 0px 70px;
    }
    .about-long p{
        font-size: 9px;
    }
    .about-long ul li{
        font-size: 11px;
    }
    .about-long ul li img {
        width: 10px;
        height: 10px;
        margin: 0px 6px 0px 0px;
    }
    .about-short {
    padding: 20px 0px;

    }
    .about-short .title{
        margin: 20px 0px 15px;
        text-align: center;
    }
    .about-short .title h4{
        font-size: 14px;
    }
    .about-short .title h1 {
        font-size: 24px;
    }
    .about-short p{
        font-size: 9px;
    }
    .about-short .img-fluid{
        max-width: 85%;
        margin: 10px 0px 0px 17px;
    }
    .testimonials{
        padding: 20px 0px;
    }
    .testimonials .title h1{
        font-size: 24px;
    }
    .testimonials .owl-carousel .item h4{
        font-size: 12px;
    }
    .testimonials .owl-carousel .item img{
        width: 65px;
        height: 65px;
        border-radius: 100%;
    } 
    .testimonials .owl-carousel .item p{
        font-size: 10px;
        margin: 15px 0px 5px 25px;
    }
    .testimonials .owl-carousel .item h6{
        font-size: 11px;
        margin: 0px 0px 0px 25px;
    }
    .testimonials .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 60px;
    }
    .eye-catcher .action-buttons{
        padding: 15px 0px 0px;
        margin: 0px 7px 0px 0px;
    }
    .eye-catcher .action-buttons .btn-info{
        padding: 8px 10px;
        font-size: 9px;
        margin: 0px 7px 0px 0px;
    }
    .eye-catcher .action-buttons .btn-primary{
        padding: 8px 10px;
        font-size: 9px;
    }
    .eye-catcher h1{
        font-size: 24px;
    }
    .pricing{
        padding: 25px 0px;
    }
    .pricing .title h1{
        font-size: 28px;
    }
    .price-box {
        margin: 0px 0px 15px;
    }
    .price-head {
        padding: 8px 0px;
    }
    .price-head h2 {
        font-size: 20px;
    }
    .main-price{
        padding: 15px 0px;
    }
    .main-price h1{
        font-size: 50px;
    }
    .main-price h1 sup{
        font-size: 20px;
    }
    .main-price p{
        font-size: 10px;
    }
    .price-content{
        padding: 15px 15px;
    }
    .price-content p{
        font-size: 10px;
    }
    .price-content .btn-primary{
        padding: 9px 12px;
        font-size: 11px;
    }
    .contact-us{
        padding: 25px 0px;
    }
    .contact-us .title h1{
        font-size: 32px;
    }
    .contact-us .info{
        margin: 0px 0px 20px;
    }
    .contact-us .info p{
        font-size: 11px;
    }
    .contact-us .contact{
        padding: 26px 28px;
    }
    .contact-us .contact .form-control{
        padding: 10px 13px;
    }
    .contact-us .contact .btn-primary{
        padding: 10px 13px;
    }
    .footer{
        padding: 15px 0px;
    }
    .footer p{
        font-size: 11px;
    }

}


            /* css end  */
 




/*
    # screen resulation : 320px to 480px;
    # devices: most of the smart phone.
 */
 
 @media (min-width: 320px) and (max-width: 480px){
           /* css start  */

    .header .navbar-toggler{
        background: #08c;
        border-radius: 0px;
    }
    .header .navbar-toggler .fa-bars{
        color: #fff;
    }
    .header .navbar-expand-lg .navbar-nav .nav-link{
        margin: 0px;
        font-size: 14px;
    }
    .header .navbar-expand-lg .navbar-nav .nav-link:hover, .header .navbar-expand-lg .navbar-nav .nav-link:focus{
        background: url(../images/line.png) left bottom no-repeat;
        
    }
    .header .navbar-nav .nav-link.active{
        background: url(../images/line.png) left bottom no-repeat;
    }
    .banner{
        padding: 30px 0px;
    }
    .banner h4{
        font-size: 14px;
    }
    .banner h1 {
        font-size: 34px;
    }
    .banner p{
        font-size: 12px;
    }
    .banner .action-buttons{
        padding: 20px 0px 0px;
    }
    .banner .action-buttons .btn-primary{
        padding: 12px 15px;
        font-size: 13px;
        margin: 0px 10px 0px 0px;
    }
    .banner .action-buttons .btn-info{
        padding: 12px 15px;
        font-size: 13px;
    }
    .feature{
        padding: 30px 0px;
    }
    .feature .title{
        padding: 0px 0px 30px 0px;
    }
    .title h4{
        font-size: 14px;
    }
    .title h1{
        font-size: 32px;
    }
    .inner-feature{
        padding: 15px 25px;
    }
    .inner-feature .icon-box{
        width: 65px;
        height: 65px;
        line-height: 65px;
    }
    .inner-feature h4 {
        font-size: 18px;
    }
    .inner-feature p{
        font-size: 12px;
    }
    .about-long{
        padding: 30px 0px;
    }
    .about-long .img-fluid{
        max-width: 50%;
        height: auto;
        margin: 0px 0px 0px 90px;
    }
    .about-long p{
        font-size: 12px;
    }
    .about-long ul li{
        font-size: 13px;
    }
    .about-long ul li img {
        width: 11px;
        height: 11px;
        margin: 0px 7px 0px 0px;
    }
    .about-short {
    padding: 30px 0px;

    }
    .about-short .title{
        margin: 30px 0px 20px;
        text-align: center;
    }
    .about-short .title h1 {
        font-size: 34px;
    }
    .about-short p{
        font-size: 12px;
    }
    .about-short .img-fluid{
        max-width: 90%;
        margin: 10px 0px 0px 15px;
    }
    .testimonials{
        padding: 30px 0px;
    }
    .testimonials .title h1{
        font-size: 34px;
    }
    .testimonials .owl-carousel .item h4{
        font-size: 14px;
    }
    .testimonials .owl-carousel .item img{
        width: 70px;
        height: 70px;
        border-radius: 100%;
    } 
    .testimonials .owl-carousel .item p{
        font-size: 12px;
        margin: 15px 0px 5px 15px;
    }
    .testimonials .owl-carousel .item h6{
        font-size: 13px;
        margin: 0px 0px 0px 15px;
    }
    .testimonials .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 70px;
    }
    .eye-catcher .action-buttons{
        padding: 20px 0px 0px;
        margin: 0px 19px 0px 0px;
    }
    .eye-catcher .action-buttons .btn-info{
        padding: 12px 15px;
        font-size: 13px;
        margin: 0px 10px 0px 0px;
    }
    .eye-catcher .action-buttons .btn-primary{
        padding: 12px 15px;
        font-size: 13px;
    }
    .pricing{
        padding: 30px 0px;
    }
    .price-box {
        margin: 0px 0px 15px;
    }
    .price-head {
        padding: 10px 0px;
    }
    .price-head h2 {
        font-size: 24px;
    }
    .main-price{
        padding: 20px 0px;
    }
    .main-price h1{
        font-size: 60px;
    }
    .main-price h1 sup{
        font-size: 24px;
    }
    .main-price p{
        font-size: 12px;
    }
    .price-content{
        padding: 20px 20px;
    }
    .price-content p{
        font-size: 12px;
    }
    .price-content .btn-primary{
        padding: 10px 13px;
        font-size: 13px;
    }
    .contact-us{
        padding: 30px 0px;
    }
    .contact-us .title h1{
        font-size: 36px;
    }
    .contact-us .info{
        margin: 0px 0px 30px;
    }
    .contact-us .info p{
        font-size: 12px;
    }
    .contact-us .contact{
        padding: 28px 30px;
    }
    .contact-us .contact .form-control{
        padding: 12px 15px;
    }
    .contact-us .contact .btn-primary{
        padding: 12px 25px;
    }
    .footer{
        padding: 20px 0px;
    }
    .footer p{
        font-size: 12px;
    }

            /* css end  */
 


}

/*
    # screen resulation : 481px to 767px;
    # devices: most of the high resulatuion mobile and low resulation tab.
 */
 @media (min-width: 481px) and (max-width: 767px){

          /* css start  */



    .header .navbar-toggler{
        background: #08c;
        border-radius: 0px;
    }
    .header .navbar-toggler .fa-bars{
        color: #fff;
    }
    .header .navbar-expand-lg .navbar-nav .nav-link{
        margin: 0px;
        font-size: 14px;
    }
    .header .navbar-expand-lg .navbar-nav .nav-link:hover, .header .navbar-expand-lg .navbar-nav .nav-link:focus{
        background: url(../images/line.png) left bottom no-repeat;
        
    }
    .header .navbar-nav .nav-link.active{
        background: url(../images/line.png) left bottom no-repeat;
    }
    .banner{
        padding: 40px 0px;
    }
    .banner h4{
        font-size: 14px;
    }
    .banner h1 {
        font-size: 38px;
    }
    .banner p{
        font-size: 13px;
    }
    .banner .action-buttons{
        padding: 20px 0px 0px;
    }
    .banner .action-buttons .btn-primary{
        padding: 12px 15px;
        font-size: 13px;
        margin: 0px 10px 0px 0px;
    }
    .banner .action-buttons .btn-info{
        padding: 12px 15px;
        font-size: 13px;
    }
    .feature{
        padding: 40px 0px;
    }
    .feature .title{
        padding: 0px 0px 40px 0px;
    }
    .title h4{
        font-size: 14px;
    }
    .title h1{
        font-size: 36px;
    }
    .inner-feature{
        padding: 20px 30px;
    }
    .inner-feature .icon-box{
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
    .inner-feature h4 {
        font-size: 20px;
    }
    .inner-feature p{
        font-size: 13px;
    }
    .about-long{
        padding: 40px 0px;
    }
    .about-long .img-fluid{
        max-width: 60%;
        height: auto;
        margin: 0px 0px 0px 105px;
    }
    .about-long p{
        font-size: 13px;
    }
    .about-long ul li{
        font-size: 14px;
    }
    .about-long ul li img {
        width: 12px;
        height: 12px;
        margin: 0px 8px 0px 0px;
    }
    .about-short {
    padding: 40px 0px;

    }
    .about-short .title{
        margin: 40px 0px 30px;
        text-align: center;
    }
    .about-short .title h1 {
        font-size: 38px;
    }
    .about-short p{
        font-size: 13px;
        text-align: center;
    }
    .about-short .img-fluid{
        max-width: 100%;
        margin: 20px 0px 10px 0px;
        height: auto;
    }
    .testimonials{
        padding: 40px 0px;
    }
    .testimonials .title h1{
        font-size: 38px;
    }
    .testimonials .owl-carousel .item h4{
        font-size: 14px;
    }
    .testimonials .owl-carousel .item img{
        width: 75px;
        height: 75px;
        border-radius: 100%;
    } 
    .testimonials .owl-carousel .item p{
        font-size: 13px;
        margin: 15px 0px 5px 10px;
    }
    .testimonials .owl-carousel .item h6{
        font-size: 14px;
        margin: 0px 0px 0px 10px;
    }
    .testimonials .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 75px;
    }
    .eye-catcher .action-buttons{
        padding: 25px 0px 0px;
        margin: 0px 19px 0px 0px;
    }
    .eye-catcher .action-buttons .btn-info{
        padding: 12px 15px;
        font-size: 13px;
        margin: 0px 10px 0px 0px;
    }
    .eye-catcher .action-buttons .btn-primary{
        padding: 12px 15px;
        font-size: 13px;
    }
    .pricing{
        padding: 40px 0px;
    }
    .pricing .title h1{
        font-size: 40px;
    }
    .price-box {
        margin: 0px 0px 20px;
    }
    .price-head {
        padding: 15px 0px;
    }
    .price-head h2 {
        font-size: 26px;
    }
    .main-price{
        padding: 25px 0px;
    }
    .main-price h1{
        font-size: 65px;
    }
    .main-price h1 sup{
        font-size: 26px;
    }
    .main-price p{
        font-size: 13px;
    }
    .price-content{
        padding: 25px 25px;
    }
    .price-content p{
        font-size: 13px;
    }
    .price-content .btn-primary{
        padding: 12px 15px;
        font-size: 13px;
    }
    .contact-us{
        padding: 40px 0px;
    }
    .contact-us .title h1{
        font-size: 42px;
    }
    .contact-us .info{
        margin: 0px 0px 30px;
    }
    .contact-us .info p{
        font-size: 13px;
    }
    .contact-us .contact{
        padding: 30px 32px;
    }
    .contact-us .contact .form-control{
        padding: 13px 16px;
    }
    .contact-us .contact .btn-primary{
        padding: 13px 25px;
    }
    .footer{
        padding: 20px 0px;
    }
    .footer p{
        font-size: 13px;
    }

 
         /* css end  */
}


/*
    # screen resulation : 768px to 1024px;
    # devices: most of the tab  and mini notebook.
 */
 @media (min-width: 768px) and (max-width: 1024px){

      /* css start  */
.header .navbar-toggler{
        background: #08c;
        border-radius: 0px;
    }
    .header .navbar-toggler .fa-bars{
        color: #fff;
    }
    .header .navbar-expand-lg .navbar-nav .nav-link{
        margin: 0px;
        font-size: 16px;
    }
    .header .navbar-expand-lg .navbar-nav .nav-link:hover, .header .navbar-expand-lg .navbar-nav .nav-link:focus{
        background: url(../images/line.png) left bottom no-repeat;
        
    }
    .header .navbar-nav .nav-link.active{
        background: url(../images/line.png) left bottom no-repeat;
    }
    .banner{
        padding: 50px 0px;
    }
    .feature{
        padding: 40px 0px;
    }
    .feature .title{
        padding: 0px 0px 50px 0px;
    }
    .title h4{
        font-size: 16px;
    }
    .title h1{
        font-size: 48px;
    }
    .inner-feature{
        padding: 25px 30px;
    }
    .inner-feature .icon-box{
        width: 80px;
        height: 80px;
        line-height: 80px;
    }
    .inner-feature h4 {
        font-size: 22px;
    }
    .inner-feature p{
        font-size: 14px;
    }
    .about-long{
        padding: 50px 0px;
    }
    .about-long .img-fluid{
        max-width: 65%;
        height: auto;
        margin: 0px 0px 0px 120px;
    }
    .about-long p{
        font-size: 14px;
    }
    .about-long ul li{
        font-size: 15px;
    }
    .about-long ul li img {
        width: 13px;
        height: 13px;
        margin: 0px 9px 0px 0px;
    }
    .about-short {
    padding: 50px 0px;

    }
    .about-short .title{
        margin: 50px 0px 30px;
        text-align: center;
    }
    .about-short .title h4{
        font-size: 16px;
    }
    .about-short .title h1 {
        font-size: 48px;
    }
    .about-short p{
        font-size: 14px;
        text-align: center;
    }
    .about-short .img-fluid{
        max-width: 100%;
        margin: 20px 0px 10px 0px;
        height: auto;
    }
    .testimonials{
        padding: 50px 0px;
    }
    .testimonials .title h1{
        font-size: 48px;
    }
    .testimonials .owl-carousel .item h4{
        font-size: 16px;
    }
    .testimonials .owl-carousel .item img{
        width: 80px;
        height: 80px;
        border-radius: 100%;
    } 
    .testimonials .owl-carousel .item p{
        font-size: 14px;
        margin: 15px 0px 5px 0px;
    }
    .testimonials .owl-carousel .item h6{
        font-size: 15px;
        margin: 0px 0px 0px 0px;
    }
    .testimonials .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 80px;
    }
    .eye-catcher .action-buttons{
        padding: 30px 0px 0px;
    }
    .eye-catcher .action-buttons .btn-info{
        padding: 12px 15px;
        font-size: 14px;
        margin: 0px 10px 0px 0px;
    }
    .eye-catcher .action-buttons .btn-primary{
        padding: 12px 15px;
        font-size: 14px;
    }
    .eye-catcher h1{
        font-size: 36px;
    }
    .pricing{
        padding: 50px 0px;
    }
    .pricing .title h1{
        font-size: 48px;
    }
    .price-box {
        margin: 0px 0px 20px;
    }
    .price-head {
        padding: 20px 0px;
    }
    .price-head h2 {
        font-size: 28px;
    }
    .main-price{
        padding: 30px 0px;
    }
    .main-price h1{
        font-size: 70px;
    }
    .main-price h1 sup{
        font-size: 28px;
    }
    .main-price p{
        font-size: 14px;
    }
    .price-content{
        padding: 30px 30px;
    }
    .price-content p{
        font-size: 14px;
    }
    .price-content .btn-primary{
        padding: 12px 15px;
        font-size: 14px;
    }
    .contact-us{
        padding: 50px 0px;
    }
    .contact-us .title h1{
        font-size: 48px;
    }
    .contact-us .info{
        margin: 0px 0px 30px;
    }
    .contact-us .info p{
        font-size: 14px;
    }
    .contact-us .contact{
        padding: 30px 34px;
    }
    .contact-us .contact .form-control{
        padding: 14px 17px;
    }
    .contact-us .contact .btn-primary{
        padding: 13px 30px;
    }
    .footer{
        padding: 20px 0px;
    }
    .footer p{
        font-size: 14px;
    }

      /* css end  */
}

